<div>
    <div class="row">

        <div role="tabpanel">
            <div class = "pull-right" >
                <a ng-click = "vm.newStudent()" ng-show ="vm.isEditable" class="btn btn-primary ">New Student</a>
                <a ng-click = "vm.showMyStudents = true" ng-show ="vm.isFaculty" class="btn btn-primary ">My Students</a>
                <a href="#/login" class="btn btn-primary " >Exit Portal</a>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-repeat="tab in vm.tabs" ng-click="vm.selectTab($index)" ng-class="{'active':tab.name === 'Students'}">
                    <a data-target="{{tab.path}}" aria-controls="home" role="tab" data-toggle="tab"><font size = "5">{{tab.name}}</font></a>
                </li>
            </ul>
            <div class="tab-content" style = "border-width: 2px; border-style: dotted">
                <div role="tabpanel" class="tab-pane active" id="tab">
                    <div class="col-md-6" >
                        <div>
                            <h3> All Students </h3>
                            <br></br>
                            <table class="table">
                                <tr>
                                    <td>Student Name:</td><td><input type="text" 
                                                                  ng-model="search.sname"  size="10" ></td>
                                    <td>Major:</td><td><input type="text" 
                                                                  ng-model="search.major"  size="10" ></td>
                                </tr>
                                <tr>
                                    <td>S Level:</td><td><input type="text" 
                                                                  ng-model="search.sLevel"  size="10" ></td>
                                    <td>Age:</td><td><input type="text" 
                                                                  ng-model="search.age"  size="10" ></td>
                                </tr>
                            </table>
                        </div>
                        <div style="height: 300px; overflow: auto; ">
                            <table class="table">
                                <thead><th width='10%'>Student Name</th>
                                <th width='10%'>Major</th>
                                <th width='10%'>S Level</th>
                                <th width='10%'>Age</th></thead>
                                <tbody ng-repeat="student in vm.allStudents | filter:search:strict">
                                    <tr><td width = '10%'><a ng-click="vm.makeVisible(student)">{{student.sname}}</a></td>
                                        <td width = '10%'>{{student.major}}</td>
                                        <td width = '10%'>{{student.sLevel}}</td>
                                        <td width = '10%'>{{student.age}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show = "vm.showDetail">
                        <h3> Details of  {{vm.cuurentStudent.sname}}</h3>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="studentName" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Student Name:</label>
                                <input type="text" name="studentName" id="studentName" style ="width : 200px " ng-readonly="!vm.editLabel"
                                       value = "{{vm.cuurentStudent.sname}}" class="form-control" ng-model="vm.cuurentStudent.sname" required />
                                <span ng-show="form.studentName.$dirty && form.studentName.$error.required" class="help-block">Student Name is required</span>
                            </div>
                            <div class="form-group">
                                <label for="major" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Major:</label>
                                <input type="text" name="major" id="major" style ="width : 200px " ng-readonly="!vm.editLabel"
                                       value = "{{vm.cuurentStudent.major}}" class="form-control" ng-model="vm.cuurentStudent.major" required />
                                <span ng-show="form.major.$dirty && form.major.$error.required" class="help-block">Major is required</span>
                            </div>
                            <div class="form-group">
                                <label for="sLevel" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">S Level:</label>
                                <input type="text" name="sLevel" id="sLevel" style ="width : 200px " ng-readonly="!vm.editLabel"
                                       value = "{{vm.cuurentStudent.sLevel}}" class="form-control" ng-model="vm.cuurentStudent.sLevel" required />
                                <span ng-show="form.sLevel.$dirty && form.sLevel.$error.required" class="help-block">S Level is required</span>
                            </div>
                            <div class="form-group">
                                <label for="age" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Age:</label>
                                <input type="text" name="age" id="age" style ="width : 200px " ng-readonly="!vm.editLabel"
                                       value = "{{vm.cuurentStudent.age}}" class="form-control" ng-model="vm.cuurentStudent.age" required />
                                <span ng-show="form.studentName.$dirty && form.studentName.$error.required" class="help-block">Age is required</span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="form-actions">
                                        <button type="submit"  ng-click = "vm.edit()" ng-show="vm.showEdit && vm.isEditable" class="btn btn-primary">Edit</button>
                                        <button type="submit"  ng-click = "vm.update(vm.cuurentStudent)" ng-show="!vm.showEdit && vm.isEditable" class="btn btn-primary">Update</button>
                                        <button type="submit"  ng-click = "vm.deleteRec(vm.cuurentStudent)" ng-show ="vm.isEditable" class="btn btn-primary">Delete</button>
                                        <a ng-click="vm.removeVisibility()" class="btn btn-link">close</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" ng-show = "vm.showMyStudents">
                        <div>
                            <h3> My Course Students </h3>
                            <a ng-click = "vm.showMyStudents = false" class="btn btn-primary ">Close</a>
                            <br></br>
                            <table class="table">
                                <tr>
                                    <td>Student Name:</td><td><input type="text" 
                                                                  ng-model="search.sname"  size="10" ></td>
                                    <td>Major:</td><td><input type="text" 
                                                                  ng-model="search.cname"  size="10" ></td>
                                </tr>
                            </table>
                        </div>
                        <div style="height: 300px; overflow: auto; ">
                            <table class="table">
                                <thead><th width='10%'>Student Name</th>
                                <th width='10%'>Course Name</th>
                                <th width='10%'>Exam1</th>
                                <th width='10%'>Exam2</th>
                                <th width='10%'>Final Exam</th></thead>
                                <tbody ng-repeat="student in vm.allMyStudents | filter:search:strict">
                                    <tr><td width = '10%'><a ng-click="vm.changeGrades(student)">{{student.sname}}</a></td>
                                        <td width = '10%'>{{student.cname}}</td>
                                        <td width = '10%'>{{student.exam1}}</td>
                                        <td width = '10%'>{{student.exam2}}</td>
                                        <td width = '10%'>{{student.final}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show = "vm.showMyStudents && vm.addGrades">
                        <h3> Details of  {{vm.changeStudent.sname}}</h3>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="studentName" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Student Name:</label>
                                <input type="text" name="studentName" id="studentName" style ="width : 200px " ng-readonly="!vm.editGrades"
                                       value = "{{vm.changeStudent.sname}}" class="form-control" ng-model="vm.changeStudent.sname" required />
                                <span ng-show="form.studentName.$dirty && form.studentName.$error.required" class="help-block">Student Name is required</span>
                            </div>
                            <div class="form-group">
                                <label for="courseName" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Course Name:</label>
                                <input type="text" name="courseName" id="courseName" style ="width : 200px " ng-readonly="!vm.editGrades"
                                       value = "{{vm.changeStudent.cname}}" class="form-control" ng-model="vm.changeStudent.cname" required />
                                <span ng-show="form.major.$dirty && form.major.$error.required" class="help-block">Course Name is required</span>
                            </div>
                            <div class="form-group">
                                <label for="exam1" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Exam1:</label>
                                <input type="text" name="sLevel" id="sLevel" style ="width : 200px " ng-readonly="!vm.editGrades"
                                       value = "{{vm.changeStudent.exam1}}" class="form-control" ng-model="vm.changeStudent.exam1"  />
                            </div>
                            <div class="form-group">
                                <label for="exam2" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Exam2:</label>
                                <input type="text" name="age" id="age" style ="width : 200px " ng-readonly="!vm.editGrades"
                                       value = "{{vm.changeStudent.exam2}}" class="form-control" ng-model="vm.changeStudent.exam2"  />
                            </div>
                            <div class="form-group">
                                <label for="final" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Final:</label>
                                <input type="text" name="age" id="age" style ="width : 200px " ng-readonly="!vm.editGrades"
                                       value = "{{vm.changeStudent.final}}" class="form-control" ng-model="vm.changeStudent.final"  />
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="form-actions">
                                        <button type="submit"  ng-click = "vm.editGrades = true" ng-show="!vm.editGrades" class="btn btn-primary">Edit</button>
                                        <button type="submit"  ng-click = "vm.updateGrades(vm.changeStudent)" ng-show="vm.editGrades" class="btn btn-primary">Update</button>
                                        <a ng-click="vm.addGrades = false" class="btn btn-link">close</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" ng-show = "vm.showNew">
                        <h3>New Student Details please :</h3>
                        <br></br>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="studentId" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Student ID:</label>
                                <input type="text" name="studentId" id="studentId" style ="width : 200px " class="form-control" ng-model="vm.new.sid" required />
                                <span ng-show="form.studentId.$dirty && form.studentId.$error.required" class="help-block">Student Id is required</span>
                            </div>
                            <div class="form-group">
                                <label for="studentName" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Student Name:</label>
                                <input type="text" name="studentName" id="studentName" style ="width : 200px " class="form-control" ng-model="vm.new.sname" required />
                                <span ng-show="form.studentName.$dirty && form.studentName.$error.required" class="help-block">Student Name is required</span>
                            </div>
                            <div class="form-group">
                                <label for="major" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Major:</label>
                                <input type="text" name="major" id="major" style ="width : 200px " class="form-control" ng-model="vm.new.major" required />
                                <span ng-show="form.depName.$dirty && form.depName.$error.required" class="help-block">Major is required</span>
                            </div>
                            <div class="form-group">
                                <label for="sLevel" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">S Level:</label>
                                <input type="text" name="sLevel" id="sLevel" style ="width : 200px " class="form-control" ng-model="vm.new.sLevel" required />
                                <span ng-show="form.sLevel.$dirty && form.sLevel.$error.required" class="help-block">S Level is required</span>
                            </div>
                            <div class="form-group">
                                <label for="age" class="col-sm-2 control-label" style ="width : 200px ; text-align : right">Age:</label>
                                <input type="text" name="age" id="age" style ="width : 200px " class="form-control" ng-model="vm.new.age" required />
                                <span ng-show="form.age.$dirty && form.age.$error.required" class="help-block">Age is required</span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="form-actions">
                                        <button type="submit"  ng-click = "vm.create(vm.new)" ng-disabled="form.$invalid" class="btn btn-primary">Add</button>
                                        <a ng-click="vm.removeVisibility()" class="btn btn-link">cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>